
/* page font */
body {
  font: 16px "Comic Sans MS", cursive;
  background: url("Blue-rule.png");
}
/* paragraphs */
p {
  color: blue;
}
#first {
  font-style: italic;
}

/* initial letters */
strong {
  color: red;
  font: 200% serif;
}
.spinach {
  color: green;
}
p:before {content: " " url("Yellow-pin.png");}

/*** Style for doc3.html (Tables) ***/
/* numbered paragraphs */
h3 {border-top: 1px solid gray;}

ul, #oceans_l {
  list-style: lower-roman;
  margin-bottom: 8px;
  }
ul, #numbered_l {
  border: 1em solid #69b;
  padding-right:1em;
  }

ul, #numbered_l {float: left;}
h3, #numbered_h {clear: left;}

ul, #oceans_l {float: left;}
h3, #oceans_h {clear: left;}




#demo-table {
  font: 100% sans-serif;
  background-color: #efe;
  border-collapse: collapse;
  empty-cells: show;
  border: 1px solid #7a7;
}

#demo-table > caption {
  text-align: left;
  font-weight: bold;
  font-size: 200%;
  border-bottom: .2em solid #4ca;
  margin-bottom: .5em;
}


/* basic shared rules */
#demo-table th,
#demo-table td {
  text-align: right;
  padding-right: .5em;
}

#demo-table th {
  font-weight: bold;
  padding-left: .5em;
}


/* header */
#demo-table > thead > tr:first-child > th {
  text-align: center;
  color: blue;
}

#demo-table > thead > tr + tr > th {
  font-style: italic;
  color: gray;
}

/* fix size of superscript */
#demo-table sup {
  font-size: 75%;
}

/* body */
#demo-table td {
  background-color: #cef;
  padding:.5em .5em .5em 3em;
}

#demo-table tbody th:after {
  content: ":";
}


/* footer */
#demo-table tfoot {
  font-weight: bold;
}

#demo-table tfoot th {
  color: blue;
}

#demo-table tfoot th:after {
  content: ":";
}

#demo-table > tfoot td {
  background-color: #cee;
}

#demo-table > tfoot > tr:first-child td {
  border-top: .2em solid #7a7;
}
